<h3>Cart</h3>
<p>
    <a routerLink="/shipping" >Shipping Prices</a>
</p>
<div class="cart-item" *ngFor="let item of items" class="d-flex justify-content-between align-items-center">
    <span><img [src]="item.phoneImage" class="img-fluid" alt="phone image" width='80' height='160'></span>
    <span>{{ item.name}}</span>
    <span>{{item.price}}</span>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="p-3">
      <div>  
        <label for="name">Name</label>
        <input type="text" id="name" formControlName='name' class="form-control">
      </div>
      <div>
          <label for="address">Address</label>
          <input type="text" id="address" formControlName='address' class="form-control">
      </div>

    <button class="btn btn-success" type="submit"> Purchase</button>
</form>