<h2 class="text-center">Products</h2>
<div class="m-auto w-100">
    <img [src]="myIGM" alt="phones" class="img-fluid w-100" >
</div>

<div *ngFor='let product of products'>
    <h4>
        <a href="#" [title]="product.name + 'details'"
        [routerLink]="['/products', product.id]"
        >
            {{product.name}}
        </a>        
    </h4>
    <p *ngIf="product.description"> Description: {{ product.description}}</p>
    <button (click)="share()" class="mb-2"> Share</button>
    <app-products-alerts [product]="product" (notify)="onNotify()"
    ></app-products-alerts>
    
</div>